body {
  background-image: url("./assets/images/p2Img.jpeg");
  background-color: thistle;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: rgb(117, 67, 131);
  margin: 50px;
  text-align: center;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(247, 246, 248);
}

a:hover {
  color: hotpink;
}

.Body {
  color: rgb(221, 219, 219);
}

h2 {
  color: rgb(128, 20, 128);
  text-align: center;
}

.Navbar {
  height: 80px;
  display: flex;
  font-size: medium;
  justify-content: space-between;
}

.Internal {
  display: flex;
  flex-direction: column;
}

.External {
  display: flex;
  flex-direction: column;
}

.Quote {
  border: 4px solid rgb(19, 5, 93);
  border-style: inset;
  margin: 5px;
  width: 300px;
  background-color: rgb(75, 75, 139);
  flex-direction: row;
}

.Box {
  display: flex;
  flex-direction: column;
}

.Quotes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Create {
  text-align: center;
}

.All {
  margin: 90px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Footer {
  display: flex;
  position: absolute;
  flex: 0 0 50px;
}

@media only screen and (max-device-width: 500px) {
  .title {
    color: rgb(126, 43, 43);
    margin: 50px;
    text-align: center;
  }

  .Navbar {
    height: 80px;
    display: flex;
    font-size: medium;
    justify-content: space-evenly;

  }
  
  .Quotes {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }


  .Quote {
    border: 4px solid rgb(63, 1, 1);
    border-style: inset;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(88, 29, 2);
    flex-direction: row;
  }

  .Internal {
    display: flex;
    flex-direction: row;
  }
  
  .External {
    display: flex;
    flex-direction: row;
  }

  .Footer {
    display: flex;
    position: absolute;
    flex: 0 0 50px;
  }
}
