body {
  background-image: url("./assets/images/p2Img.jpeg");
  background-color: thistle;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: rgb(117, 67, 131);
  margin: 75px;
  text-align: center;
}

.Nav {
  text-align: left;
  width: 50px;
  border-bottom: 2px solid black;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(134, 120, 170);
}

a:hover {
  color: hotpink;
}

.Body {
  color: rgb(221, 219, 219);
}

h2 {
  color: rgb(128, 20, 128);
  text-align: center;
}

.Nav-bar {
  display: flex;
}

.Quote {
  border: 4px solid rgb(19, 5, 93);
  border-style: inset;
  margin: 5px;
  width: 300px;
  background-color: rgb(75, 75, 139);
  flex-direction: row;
}

.External {
  display: flex;
  flex-direction: column;
}

.Box {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.Footer {
  display: flex;
  position: absolute;
  flex: 0 0 50px;
}
