body {
  background-image: url("./assets/images/p2Img.jpeg");
  background-color: thistle;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: rgb(117, 67, 131);
  margin: 50px;
  text-align: center;
  font-size: xx-large;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(247, 246, 248);
}

a:hover {
  color: hotpink;
}

.Body {
  color: rgb(255, 255, 255);
}

h2 {
  color: rgb(128, 20, 128);
  text-align: center;
}

p{
  text-align: center;
}

.Navbar {
  height: 80px;
  display: flex;
  font-size: medium;
  justify-content: space-between;
}

.Internal {
  display: flex;
  flex-direction: column;
}

.External {
  display: flex;
  flex-direction: column;
}

.Quote {
  border: 4px solid rgb(19, 5, 93);
  border-style: inset;
  margin: 5px;
  width: 300px;
  background-color: rgb(75, 75, 139);
  flex-direction: row;
}

.Box {
  display: flex;
  flex-direction: column;
}

.Quotes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.Create {
  text-align: center;
}

.All {
  margin: 90px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Footer {
  display: flex;
  position: absolute;
  flex: 0 0 50px;
}

@media only screen and (max-device-width: 500px) {
  body {
    background-image: url("./assets/images/teal.jpeg");
    background-color: rgb(36, 69, 160);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .title {
    color: rgb(47, 34, 235);
    margin: 50px;
    text-align: center;
  }

  h2 {
    color: rgb(209, 191, 27);
    text-align: center;
  }

  p{
    text-align: center;
  }

  a:link {
    color: rgb(255, 255, 255);
  }

  a:visited {
    color: rgb(13, 71, 126);
  }

  a:hover {
    color: rgb(74, 190, 132);
  }

  .Navbar {
    height: 80px;
    display: flex;
    font-size: small;
    justify-content: space-evenly;
  }

  .Quotes {
    display: flex;
    flex-flow: column;
    position: fixed;
  }

  .Quote {
    border: 4px solid rgb(17, 70, 4);
    border-style: inset;
    background-color: rgb(2, 75, 88);
    flex-direction: column;
  }

  .Internal {
    display: flex;
    flex-direction: row;
  }

  .External {
    display: flex;
    flex-direction: row;
  }

  .Footer {
    display: flex;
    position: absolute;
    flex: 0 0 50px;
  }
}
